@import 'normalize.css';

@font-face {
    font-family:'AmaticSC';
    src: url('/fonts/AmaticSC-Bold.eot');
	src: url('/fonts/AmaticSC-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/AmaticSC-Bold.woff2') format('woff2'),
		url('/fonts/AmaticSC-Bold.woff') format('woff'),
		url('/fonts/AmaticSC-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family:'AmaticSC';
    src: url('/fonts/AmaticSC-Regular.eot');
	src: url('/fonts/AmaticSC-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/AmaticSC-Regular.woff2') format('woff2'),
		url('/fonts/AmaticSC-Regular.woff') format('woff'),
		url('/fonts/AmaticSC-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

body {
    font-family: 'AmaticSC', 'Courier New', Courier, monospace;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.navegacion{
    font-size: 22px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1;

}
nav {
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

a {
    text-decoration: none;
    color: gray;
}

#summit {
    color: #467af4;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;    
    align-items: center;
}

.primera {
    background-image: url("/images/header-image.jpg");
    filter: brightness(0.7);
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
    width: 100%; 
}

h1,h2 {
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: #467af4;
    font-size: 40px;
}
h3 {
    color: #467af4;
    text-align: center;
}

.segunda {
    max-width: 800px;
    background-image: url("/images/mountain1.png");
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 250px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 50px;
}

#bottom {
    display: flex;
    margin-top: auto;
}

footer {
    border-top: 1px solid gray;
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.main-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

span {
    background-color: #467af4;
    color: white;
    height: 130px;
    width: 130px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-footer {
    position: fixed;
    bottom: 0;
    text-align: center;
}

