
body {
    box-sizing: border-box;
    font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
    /* color: white; */
}

header{
    padding: 20px;
    text-align: center;
}
a {
    text-decoration: none;
}

.navegacion {
    display: flexbox;
}
h1, h2, h3 {
    margin: 0; 
    text-align: center;
}
h2 {
    color: blue;
}
h3 {
    padding: 20px;
}

.primera {
    background-image: url("/images/header-image.jpg");
    background-size: cover;
    filter: brightness(0.7);
    height: 400px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    align-items: center;
    
}


.segunda {
    max-width: 800px;
    padding: 20px;
    background-image: url("/images/mountain1.png");
    background-size: cover;
    height: 400px;
    margin: auto;
}